* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
  height: 7000px;
}

.group__svg {
  margin-left: 140px;
  margin-top: 47px;
}

.ul {
  margin-left: 280px;
  margin-top: -30px;
}

.a {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  text-decoration: none;
  margin-left: 40px;
}

a {
  color: #48a1d1;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #37a7e3;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.raise {
  width: 122px;
  height: 54px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #F1F1F1);
  border: none;
  color: var(--151515, #151515);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  margin-left: 1213px;
  margin-top: -40px;
  position: absolute;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: #8fc866;
  transition: 0.5s;
}

.div__p {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: Gilroy;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 80px */
  margin-left: 140px;
  margin-top: 220px;
}

.span__div {
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 36px */
  margin-left: 140px;
  position: absolute;
}

.btn {
  width: 118px;
  height: 54px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #F1F1F1);
  color: var(--151515, #151515);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  border: none;
  margin-left: 140px;
  margin-top: 210px;
}

.btn2 {
  width: 130px;
  height: 54px;
  border-radius: 65px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  background: #000;
}

.samokat {
  margin-left: 253px;
  margin-top: -700px;
}

.span__img {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-left: 140px;
  margin-top: 200px;
  position: absolute;
}

.p10__re {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-left: 140px;
  margin-top: 400px;
}

.line {
  margin-left: 140px;
}

.span__ge {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 140px;
  position: absolute;
}

.system {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-left: 540px;
  margin-top: -66.1px;
}

.line__op {
  margin-left: 500px;
  margin-top: -10px;
}

.rob {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 540px;
}

.zip {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-left: 940px;
  margin-top: -194px;
}

.lines {
  margin-left: 860px;
  margin-top: 13px;
}

.s__p {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 940px;
  position: absolute;
}

.energy {
  margin-left: 140px;
  margin-top: 200px;
}

.default {
  margin-left: 940px;
  position: absolute;
  margin-top: -405px;
}

.image205 {
  margin-top: 120px;
}

.img__imf {
  margin-left: -1240px;
  margin-top: 240px;
  position: absolute;
}

.br-d {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-top: -300px;
  margin-left: 140px;
}

.dr {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 140px;
}

.pan {
  color: var(--ff-4-c-0-d, #FF4C0D);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-top: 200px;
  position: absolute;
  margin-left: 140px;
}

.w1 {
  width: 560px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #1b1111;
  margin-top: 360px;
  margin-left: 140px;
}

.min {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-top: -20px;
  margin-left: 70px;
}

.nth {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 70px;
  margin-top: 20px;
}

.w2 {
  width: 560px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #1b1111;
  margin-left: 760px;
  margin-top: -550px;
}

.max {
  margin-top: -170px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 140px;
  position: absolute;
}

.tits {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 140px;
  position: absolute;
  margin-top: -120px;
}

.oo {
  color: var(--ff-4-c-0-d, #FF4C0D);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  position: absolute;
  margin-left: 140px;
  margin-top: 200px;
}

.fan {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-left: 1300px;
  margin-top: -68px;
}

.men {
  margin-left: 1220px;
  margin-top: 13px;
}

.tio {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 1300px;
}

.fonk {
  margin-left: 140px;
  margin-top: 100px;
}

.phonk {
  margin-left: 940px;
  margin-top: -400px;
  position: absolute;
}

.legend {
  color: var(--ff-4-c-0-d, #FF4C0D);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-left: 140px;
  margin-top: 200px;
  position: absolute;
}

.live {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 140px;
  margin-top: 340px;
  position: absolute;
}

.google {
  margin-left: 279px;
  margin-top: 500px;
  position: absolute;
}

.app {
  margin-left: 140px;
  margin-top: 500px;
  position: absolute;
}

.phone {
  margin-left: 740px;
  margin-top: 100px;
}

.z1 {
  width: 1800px;
  margin-left: -200px;
}

.z2 {
  margin-top: -500px;
  position: absolute;
  margin-left: 140px;
}

.brand {
  color: var(--ff-4-c-0-d, #FF4C0D);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-top: -244px;
  position: absolute;
  margin-left: 140px;
}

.list {
  color: var(--151515, #151515);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-top: -180px;
  position: absolute;
  margin-left: 140px;
}

.tochki {
  margin-left: 1290px;
  margin-top: -300px;
  position: absolute;
}

.Pro {
  color: var(--ff-4-c-0-d, #FF4C0D);
  /* Desktop/H2 */
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 49.5px */
  margin-left: 140px;
  margin-top: 120px;
  position: absolute;
}

.x1 {
  width: 460px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--151515, #151515);
  margin-left: 140px;
  margin-top: 200px;
  position: absolute;
}

.mixa {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/H4 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  margin-left: 20px;
  margin-top: 30px;
  position: absolute;
}

.smile {
  margin-left: 20px;
  margin-top: 70px;
  position: absolute;
}

.clabs {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  /* Desktop/body */
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  margin-left: 20px;
  margin-top: 100px;
  position: absolute;
}

.bob {
  width: 460px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--151515, #151515);
  margin-left: 640px;
  margin-top: 200px;
}

.dod {
  width: 460px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--151515, #151515);
  margin-left: 1140px;
  position: absolute;
  margin-top: -295px;
}